*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/workspace.xml
schemas/com.cotans.driverapp.models.db.AppDatabase/


#This construction should don't ignore only 1 file
#https://stackoverflow.com/questions/35278885/gitignore-exclusion-is-not-working-for-a-single-file
app/build/*
!app/build/outputs
app/build/outputs/*
!app/build/outputs/apk
app/build/outputs/apk/*
!app/build/outputs/apk/debug
app/build/outputs/apk/debug
!/app/build/outputs/apk/debug/app-debug.apk
